@charset "UTF-8";
/* Nicola Potts Global Styles */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  /*font: bistream vera sans;*/
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 150%;
font-family: 'Open Sans', sans-serif;
  font-weight: 300 !important;
  background-color:#FFF !important;
  font-family: 'Open Sans', sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: 'Open Sans', sans-serif;
 
  margin:0 auto;
}



.standfirst h2{
  font-size: 40px !important;
  line-height: 44px !important;
   font-weight:bold !important;
}

/* general classes */

body {
  min-height:100%;
  /*max-width: 900px;*/
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}



p.align-right {
  width:100%;
  text-align:right;
}

/* text general */

body {
  /*font-family: 'Roboto', sans-serif;*/
  color:#000000;
  font-size:20px;
  line-height:24px;
  margin: 0 auto;
  
}

h1 { 
  /*font-family: 'Roboto', sans-serif;*/
  font-size: 40px;
  font-weight: 300;
  line-height: 74px;
  letter-spacing:-3px;
  margin-left:-0px;
  margin-top: 5px;
  margin-bottom:-0px;
  -webkit-font-smoothing: antialiased;
   color: rgb(52, 102, 170);
}

h2 { 
  font-size: 30px;
  line-height: 30px;
  margin-bottom:0.4em;
   font-style:normal;
  -webkit-font-smoothing: antialiased;
  font-weight:300;
}

h3 { 
  font-size: 20px;
  line-height: 36px;
  margin-bottom:0.6em;
  -webkit-font-smoothing: antialiased;
  font-weight:300;
  width:80%;
}

p em {
  /*font-family: 'Roboto', sans-serif;;*/
  font-style:normal;
}

p, ul {
  margin-bottom:1em;
}

.icon {
  display: inline-block;
}

.standfirst {
  font-size: 20px;
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 0px;
  display:table-cell;
  vertical-align:middle;
  padding-left:10px;
}


.headshot {
  display:table-cell;
  vertical-align:top;
  width: 175px;
  padding: 10px;
  margin-right:10px;
}

/* Layout */

#container {
  position:relative;
  /*width:980px;*/
/*  margin:80px auto 80px auto;
  padding:0 40px 0 40px;*/
  z-index:100;
}

#container h4{ margin-bottom:-30px;}

/* publication list */
.pub {
  font-size:16;
}
.pub h3 {
  font-size:20;
  width: 100%;
  text-transform:none;
  line-height: 120%;
  font-weight: 300;
   color: rgb(52, 102, 170);
}
.pub ul {
  list-style-type: none;
}

.pub li img {
  float: left;
  margin: 0 15px 0 0;
}
 
.pub li p {
  text-align: left;
}
 
.pub li {
  padding: 5px;
  overflow: auto;
}
 
.pub li:hover {
  background: #eee;
  cursor: pointer;
}

.pub blockquote {
  font-size:20px;
  font-style:none;
}

/* image to the left of pub info */
.pub .pub-image {
  float: left;
  width: 100px;
}
 /*
div .pub-info {
  float:left;
  width: 78%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
  line-height: 1.2;
 
  overflow: hidden;
  max-height: 120px;
  -webkit-transition: max-height .6s linear;
  -moz-transition: max-height .6s linear;
  transition: max-height .6s linear;
  */
}

.pub-info p {
  line-height: 1.2;
}
.pub-info{
  line-height: 20px !important;
}

.pub-info blockquote {
  text-align: justify;
}

.pub-info h3 {
  margin-bottom: 10px;
  margin-top:-3px;
  font-size:20px;
}

/* hidden div for abstract */
.abstract {
  text-align: justify;
  display: none;
  width: auto;
  height: auto;
  padding-bottom: 20px;
}

.desktopview{ display:block;}
.mblview{ display:none;}

.intro {
  font-size: 20px;
  line-height:190%;
  font-family: 'Open Sans', sans-serif;
}



#timeline {
  font-size: 18;
  font-weight: 300;
}
@media (min-width: 768px) {
  .timelineitem:nth-child(odd) {
    left: 12.5px;
    margin-left: 50%;
    border-left: 5px solid #333;
    text-align: left;
     line-height:18px;
	 font-family: 'Open Sans', sans-serif;
  }
  
 

  .timelineitem:nth-child(even) {
    left: -12.5px;
    margin-right: 50%;
    margin-left: 5px;
    border-right: 5px solid #333;
    text-align: right;
     line-height:18px;
	 font-family: 'Open Sans', sans-serif;
  }
  .timelineitem {
    width: 50%;
    position: relative;
    padding: 0px 10px 0px 10px;
     line-height:18px;
	 font-family: 'Open Sans', sans-serif;
  }
  .timelineitem:nth-child(odd):before {
   left: -8px;
  }
  .timelineitem:nth-child(even):before {
    right: -8px;
  }
}

.timelineitem:before {
  width: 11px;
  height: 11px;
  background: #333;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  border-radius: 5px;
}

.onlyMble{ display:none;}

@media (max-width: 767px) {
  .timelineitem {
    border-left: 5px solid #333;
    text-align: left;
    margin-left: 10px;
    padding: 5px;
    position: relative;
  }
  .timelineitem:before {
    left: -8px;
  }

  
   .mblmdl {
  
  text-align: center !important;
  
  margin:0 auto !important;
  
}
    
}

.tdate {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 0px;
  line-height:26px;
  color: rgb(52, 102, 170);
}
.ttitle {
  font-size: 20px;
  font-weight: 300;
  line-height:26px;
}
.tdesc {
  font-size: 20px;
  font-weight: 300;
  line-height:26px;
}
@media (max-width: 768px) {
  .tdate {
    font-size: 22px;
	line-height:28px;
  }
  .ttitle {
    font-size: 22px;
	line-height:28px;
  }
  .tdesc {
    font-size: 22px;
	line-height:28px;
  }
  
  .onlyMble{ display:block; padding-bottom:20px; margin-left:41% !important; padding-top:5px; }
  
  
  .pub-image{display:none;}
  .headshot{ display:none;}
.mblview{ display:block;}

  
  .standfirst h2{
  font-size: 30px !important;
  line-height: 36px !important;
   font-weight:bold;
}
.intro {
  font-size: 20px !important;
  
}

.pub {
  font-size: 22px !important;
  line-height:150% !important;
}

}
.thigh {
  color: #070;
}
.quote {
  color: #777;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  padding: 90px 0 50px;
}
